aniso8601==8.0.0
attrs==19.1.0
certifi==2019.6.16
Click==7.0
coloredlogs==10.0
Flask==1.1.1
Flask-Cors==3.0.8
flask-restplus==0.13.0
gunicorn==19.9.0
humanfriendly==4.18
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==3.0.2
MarkupSafe==1.1.1
marshmallow==3.2.0
pyrsistent==0.15.4
pytz==2019.2
six==1.12.0
Werkzeug==0.16.0
